<nav class="navbar navbar-expand-lg navbar-light border rounded-1 px-2">
   
            <div class="d-flex align-items-center">
                    <div class="px-2">
                        <i class="fs-1 fa-duotone fa-microchip-ai text-secondary"></i>
                    </div>
                    <div>
                        <a class="navbar-brand" href="/"> 제돌이 이야기 </a>
                    </div>
                
            </div>
            
                <button class="navbar-toggler" type="button" id="navbarToggleBtn" >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ">
                        <li class="nav-item">
                            <a class="nav-link" href="html/about.html">About</a>
                        </li>
                      
                        
                    </ul>
                     
                </div>
            
   
</nav>